In [2]:
import pandas as pd
import pathlib
import numpy as np
import plotly.express as px

# TB notification data

In [123]:
# set path to data
notif_data_path = pathlib.Path('./tb_incubator/data/tb_notifications_all_countries_who_raw.csv')

# read in who data to dataframe
who_notif_data = pd.read_csv(notif_data_path)

In [124]:
# case notifications for Indonesia
countries = ['Indonesia']
target_data = who_notif_data.loc[who_notif_data['country'].isin(countries)]

In [125]:
# select needed columns
target_data = target_data[['year', 'country', 'c_newinc']]


# rename the columns
target_data = target_data.rename(columns={'c_newinc': 'new_relapse_cases'})


# Convert NaNs to 0
target_data= target_data.fillna(0)

# set date column to be datetime and set date column to index
target_data['year'] = pd.to_datetime(target_data['year'].astype(str), format='%Y')
target_data['year'] = target_data['year'].dt.year
target_data = target_data.set_index('year')

In [126]:
target_data

        country  new_relapse_cases
year
1980  Indonesia            25235.0
1981  Indonesia            32461.0
1982  Indonesia            33000.0
1983  Indonesia            31809.0
1984  Indonesia            32432.0
1985  Indonesia            17681.0
1986  Indonesia            16750.0
1987  Indonesia                0.0
1988  Indonesia            97505.0
1989  Indonesia           105516.0
1990  Indonesia            74470.0
1991  Indonesia            60808.0
1992  Indonesia            98458.0
1993  Indonesia            62966.0
1994  Indonesia            49647.0
1995  Indonesia            35529.0
1996  Indonesia            24647.0
1997  Indonesia            22184.0
1998  Indonesia            40497.0
1999  Indonesia            69064.0
2000  Indonesia            84591.0
2001  Indonesia            92792.0
2002  Indonesia           155188.0
2003  Indonesia           174174.0
2004  Indonesia           210229.0
2005  Indonesia           254601.0
2006  Indonesia           277589.0
2007  Indonesia           275193.0
2008  Indonesia           296514.0
2009  Indonesia           292754.0
2010  Indonesia           300659.0
2011  Indonesia           318949.0
2012  Indonesia           328824.0
2013  Indonesia           325582.0
2014  Indonesia           322806.0
2015  Indonesia           331703.0
2016  Indonesia           364671.0
2017  Indonesia           442172.0
2018  Indonesia           568865.0
2019  Indonesia           559847.0
2020  Indonesia           384025.0
2021  Indonesia           432577.0
2022  Indonesia           708658.0

In [153]:
save_path = pathlib.Path('./tb_incubator/data/tb_notifications_indonesia_who_cleaned.csv')

# save dataframe to csv
target_data.to_csv(save_path, index = True)

# TB mortality data

In [135]:
# set path to data
mort_data_path = pathlib.Path('./tb_incubator/data/tb_mortality_all_countries_who_raw.csv')

# read in who data to dataframe
who_mort_data = pd.read_csv(mort_data_path)

In [136]:
# incidence and mortality for Indonesia
countries = ['Indonesia']
mort_data = who_mort_data.loc[mort_data['country'].isin(countries)]

In [137]:
# select needed columns
mort_data = mort_data[['year', 'country','e_pop_num', 'e_inc_num', 'e_inc_tbhiv_num', 'e_mort_num', 'e_mort_exc_tbhiv_num', 'e_mort_tbhiv_num']]

# Convert NaNs to 0
mort_data = mort_data.fillna(0)

# set date column to be datetime and set date column to index
mort_data['year'] = pd.to_datetime(mort_data['year'].astype(str), format='%Y')
mort_data['year'] = mort_data['year'].dt.year # show the year only

# sort by date
mort_data = mort_data.set_index('year')

In [138]:
mort_data

,country,e_pop_num,e_inc_num,e_inc_tbhiv_num,e_mort_num,e_mort_exc_tbhiv_num,e_mort_tbhiv_num
year,,,,,,,
2000,Indonesia,214072421,792000,3700.0,120000.0,119000.0,390.0
2001,Indonesia,217112437,801000,4700.0,120000.0,119000.0,590.0
2002,Indonesia,220115092,809000,6100.0,119000.0,118000.0,890.0
2003,Indonesia,223080121,816000,8000.0,118000.0,117000.0,1400.0
2004,Indonesia,225938595,821000,10000.0,116000.0,114000.0,2000.0
2005,Indonesia,228805144,824000,13000.0,117000.0,114000.0,2800.0
2006,Indonesia,231797427,827000,16000.0,120000.0,115000.0,5300.0
2007,Indonesia,234858289,830000,18000.0,121000.0,115000.0,6300.0
2008,Indonesia,237936543,831000,20000.0,121000.0,115000.0,6000.0
2009,Indonesia,240981299,832000,22000.0,122000.0,115000.0,7000.0
2010,Indonesia,244016173,834000,24000.0,120000.0,113000.0,7000.0
2011,Indonesia,247099697,836000,26000.0,118000.0,111000.0,6700.0
2012,Indonesia,250222695,839000,27000.0,114000.0,108000.0,6600.0
2013,Indonesia,253275918,841000,26000.0,111000.0,104000.0,6700.0
2014,Indonesia,256229761,842000,25000.0,108000.0,101000.0,6600.0
2015,Indonesia,259091970,843000,24000.0,103000.0,97000.0,5900.0
2016,Indonesia,261850182,843000,23000.0,100000.0,96000.0,4300.0
2017,Indonesia,264498852,843000,20000.0,100000.0,94000.0,5300.0
2018,Indonesia,267066843,843000,20000.0,98000.0,93000.0,5000.0
2019,Indonesia,269582878,842000,19000.0,96000.0,91000.0,4700.0
2020,Indonesia,271857970,817000,18000.0,106000.0,93000.0,4800.0
2021,Indonesia,273753191,928000,22000.0,135000.0,129000.0,6500.0
2022,Indonesia,275501339,1060000,24000.0,141000.0,134000.0,6700.0

In [154]:
save_path = pathlib.Path('./tb_incubator/data/tb_incidence_mortality_indonesia_who_cleaned.csv')

# save dataframe to csv
mort_data.to_csv(save_path, index = True)

# BCG vaccination coverage

In [145]:
# set path to data
bcg_data_path = pathlib.Path('./tb_incubator/data/bcg_immunisation_coverage_all_countries_who.csv')

# read in who data to dataframe
who_bcg_data = pd.read_csv(bcg_data_path)

In [146]:
# bcg immunisation coverage for Indonesia
countries = ['Indonesia']
bcg_data = who_bcg_data.loc[who_bcg_data['Location'].isin(countries)]

In [147]:
# select needed columns
bcg_data = bcg_data[['Period', 'Location','Value']]

# rename the columns for consistency
bcg_data = bcg_data.rename(columns={'Period': 'year', 'Location': 'country', 'Value': 'bcg_coverage'})

# Convert NaNs to 0
bcg_data= bcg_data.fillna(0)

# set date column to be datetime and set date column to index
bcg_data['year'] = pd.to_datetime(bcg_data['year'].astype(str), format='%Y')
bcg_data['year'] = bcg_data['year'].dt.year # show the year only
bcg_data = bcg_data.set_index('year')

# sort by date
bcg_data = bcg_data.sort_values(by='year')

In [150]:
bcg_data

In [152]:
save_path = pathlib.Path('./tb_incubator/data/bcg_immunisation_coverage_indonesia_who_cleaned.csv')

# save dataframe to csv
bcg_data.to_csv(save_path, index = True)

# Population data

### Statistics Indonesia (BPS) Local Data

In [164]:
# data from Statistics Indonesia (BPS) 2010 - 2022
bps_pop_data = pd.read_csv('./tb_incubator/data/local_data/population_total_id.csv')

In [165]:
# set date column to datetime
bps_pop_data['year'] = pd.to_datetime(bps_pop_data['year'].astype(str), format='%Y')
bps_pop_data['year'] = bps_pop_data['year'].dt.year

# set date column to index
bps_pop_data = bps_pop_data.set_index('year')

# sort by date
bps_pop_data = bps_pop_data.sort_values(by='year')

In [166]:
# save dataframe to csv
bps_pop_data.to_csv('./tb_incubator/data/local_data/population_total_id.csv', index = True)

In [161]:
# data from Statistics Indonesia (BPS) 2010 - 2022, by 5-year age groups
bps_pop_age = pd.read_csv('./tb_incubator/data/local_data/population_age_group_id.csv')

In [162]:
# set date column to datetime
bps_pop_age['year'] = pd.to_datetime(bps_pop_age['year'].astype(str), format='%Y')
bps_pop_age['year'] = bps_pop_age['year'].dt.year

# set date column to index
bps_pop_age = bps_pop_age.set_index('year')

# sort the date
bps_pop_age = bps_pop_age.sort_values(by='year')

In [163]:
# save dataframe to csv
bps_pop_age.to_csv('./tb_incubator/data/local_data/population_age_group_id.csv', index = True)

### UN Data

In [167]:
# data from UN World Population Prospects 2024
# see https://population.un.org/wpp/Download/Files/1_Indicator%20(Standard)/EXCEL_FILES/2_Population/WPP2024_POP_F02_1_POPULATION_5-YEAR_AGE_GROUPS_BOTH_SEXES.xlsx
# for raw data

un_pop_data = pd.read_csv('./tb_incubator/data/un_population_est_age_group.csv')

In [168]:
un_pop_data

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,1950,10399,9213,8730,7742,6603,5306,4516,4143,3518,...,1508,1014,626,345,157,57,15,3,0,0
1,1951,10525,9235,8822,7926,6813,5514,4593,4188,3627,...,1588,1071,663,367,168,60,16,3,0,0
2,1952,10760,9257,8887,8106,7009,5740,4695,4224,3730,...,1668,1130,703,390,180,65,17,3,1,0
3,1953,11110,9275,8930,8276,7196,5975,4823,4259,3821,...,1747,1192,745,414,192,69,18,4,1,0
4,1954,11588,9279,8958,8427,7379,6208,4977,4302,3898,...,1828,1257,789,439,205,74,20,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2019,23202,24459,23437,22109,22212,21286,20999,21072,19541,...,12969,9911,6834,4792,3324,1836,698,166,21,2
70,2020,22922,24409,23665,22247,22209,21397,20927,21150,19826,...,13369,10324,7198,4830,3346,1875,717,170,22,1
71,2021,22680,24199,23902,22485,22144,21555,20949,21098,20080,...,13738,10692,7517,4878,3328,1874,721,168,20,1
72,2022,22488,23834,24150,22776,22041,21750,21010,20978,20335,...,14121,11081,7868,5008,3334,1884,740,172,21,1
73,2023,22349,23439,24326,23077,21949,21936,21044,20863,20572,...,14524,11502,8273,5245,3387,1927,778,185,23,1

In [169]:
# Melt the UN data
un_pop_data_melt = pd.melt(un_pop_data, id_vars=['year'])
un_pop_data_melt

      year variable  value
0     1950      0-4  10399
1     1951      0-4  10525
2     1952      0-4  10760
3     1953      0-4  11110
4     1954      0-4  11588
...    ...      ...    ...
1549  2019     100+      2
1550  2020     100+      1
1551  2021     100+      1
1552  2022     100+      1
1553  2023     100+      1

[1554 rows x 3 columns]

In [170]:
# rename the columns for consistency
un_pop_data_melt = un_pop_data_melt.rename(columns={'variable': 'age_group', 'value': 'total'})

# set date column to datetime
un_pop_data_melt['year'] = pd.to_datetime(un_pop_data_melt['year'].astype(str) + '-01-01', format='%Y-%m-%d')
un_pop_data_melt['year'] = un_pop_data_melt['year'].dt.year

# set date column to index
un_pop_data_melt = un_pop_data_melt.set_index('year')

In [171]:
un_pop_data_melt

     age_group  total
year
1950       0-4  10399
1951       0-4  10525
1952       0-4  10760
1953       0-4  11110
1954       0-4  11588
...        ...    ...
2019      100+      2
2020      100+      1
2021      100+      1
2022      100+      1
2023      100+      1

[1554 rows x 2 columns]

In [172]:
# save dataframe to csv
un_pop_data_melt.to_csv('./tb_incubator/data/un_population_est_age_group_cleaned.csv', index = True)

In [100]:
# most recent years (2021 - 2023)
un_pop_data_melt_3 = un_pop_data_melt.loc[[2021,2022,2023]]

In [104]:
# save dataframe to csv
un_pop_data_melt_3.to_csv('./tb_incubator/data/un_population_est_age_group_2021_2023.csv', index = True)