In [1]:
import pandas as pd
import pathlib

In [46]:
# set working directory
from pathlib import Path

data_folder = Path("/your/path")

# TB notification data

In [26]:
# set path to data
notif_data_path = pathlib.Path(data_folder/'notifications_all_countries.csv')

# read in who data to dataframe
who_notif_data = pd.read_csv(notif_data_path)

In [22]:
# case notifications for Indonesia
countries = ['Indonesia']
target_data = who_notif_data.loc[who_notif_data['country'].isin(countries)]

In [6]:
# select needed columns
target_data = target_data[['year', 'c_newinc']]


# rename the columns
target_data = target_data.rename(columns={'c_newinc': 'new_relapse_cases'})


# Convert NaNs to 0
target_data= target_data.fillna(0)

# set date column to be datetime and set date column to index
target_data['year'] = pd.to_datetime(target_data['year'].astype(str), format='%Y')
target_data['year'] = target_data['year'].dt.year
target_data = target_data.set_index('year')

In [7]:
target_data

      new_relapse_cases
year
1980            25235.0
1981            32461.0
1982            33000.0
1983            31809.0
1984            32432.0
1985            17681.0
1986            16750.0
1987                0.0
1988            97505.0
1989           105516.0
1990            74470.0
1991            60808.0
1992            98458.0
1993            62966.0
1994            49647.0
1995            35529.0
1996            24647.0
1997            22184.0
1998            40497.0
1999            69064.0
2000            84591.0
2001            92792.0
2002           155188.0
2003           174174.0
2004           210229.0
2005           254601.0
2006           277589.0
2007           275193.0
2008           296514.0
2009           292754.0
2010           300659.0
2011           318949.0
2012           328824.0
2013           325582.0
2014           322806.0
2015           331703.0
2016           364671.0
2017           442172.0
2018           568865.0
2019           559847.0
2020           384025.0
2021           432577.0
2022           708658.0

In [9]:
save_path = pathlib.Path(data_folder/'notifications_ID.csv')

# save dataframe to csv
target_data.to_csv(save_path, index = True)

# TB mortality data

In [31]:
# set path to data
mort_data_path = pathlib.Path(data_folder/'inc_mort.csv')

# read in who data to dataframe
mort_data = pd.read_csv(mort_data_path)

In [32]:
# incidence and mortality for Indonesia
countries = ['Indonesia']
mort_data = mort_data.loc[mort_data['country'].isin(countries)]

In [33]:
# select needed columns
mort_data = mort_data[['year', 'e_pop_num', 'e_inc_num', 'e_inc_tbhiv_num', 'e_mort_num', 'e_mort_exc_tbhiv_num', 'e_mort_tbhiv_num']]

# Convert NaNs to 0
mort_data = mort_data.fillna(0)

# set date column to be datetime and set date column to index
mort_data['year'] = pd.to_datetime(mort_data['year'].astype(str), format='%Y')
mort_data['year'] = mort_data['year'].dt.year # show the year only

# sort by date
mort_data = mort_data.set_index('year')

In [34]:
mort_data

,e_pop_num,e_inc_num,e_inc_tbhiv_num,e_mort_num,e_mort_exc_tbhiv_num,e_mort_tbhiv_num
year,,,,,,
2000,214072421,792000,3700.0,120000.0,119000.0,390.0
2001,217112437,801000,4700.0,120000.0,119000.0,590.0
2002,220115092,809000,6100.0,119000.0,118000.0,890.0
2003,223080121,816000,8000.0,118000.0,117000.0,1400.0
2004,225938595,821000,10000.0,116000.0,114000.0,2000.0
2005,228805144,824000,13000.0,117000.0,114000.0,2800.0
2006,231797427,827000,16000.0,120000.0,115000.0,5300.0
2007,234858289,830000,18000.0,121000.0,115000.0,6300.0
2008,237936543,831000,20000.0,121000.0,115000.0,6000.0
2009,240981299,832000,22000.0,122000.0,115000.0,7000.0
2010,244016173,834000,24000.0,120000.0,113000.0,7000.0
2011,247099697,836000,26000.0,118000.0,111000.0,6700.0
2012,250222695,839000,27000.0,114000.0,108000.0,6600.0
2013,253275918,841000,26000.0,111000.0,104000.0,6700.0
2014,256229761,842000,25000.0,108000.0,101000.0,6600.0
2015,259091970,843000,24000.0,103000.0,97000.0,5900.0
2016,261850182,843000,23000.0,100000.0,96000.0,4300.0
2017,264498852,843000,20000.0,100000.0,94000.0,5300.0
2018,267066843,843000,20000.0,98000.0,93000.0,5000.0
2019,269582878,842000,19000.0,96000.0,91000.0,4700.0
2020,271857970,817000,18000.0,106000.0,93000.0,4800.0
2021,273753191,928000,22000.0,135000.0,129000.0,6500.0
2022,275501339,1060000,24000.0,141000.0,134000.0,6700.0

In [36]:
save_path = pathlib.Path(data_folder/'data/inc_mort_ID.csv')

# save dataframe to csv
mort_data.to_csv(save_path, index = True)

# BCG vaccination coverage

In [41]:
# set path to data
bcg_data_path = pathlib.Path(data_folder/'bcg_coverage_all_countries_who.csv')

# read in who data to dataframe
bcg_data = pd.read_csv(bcg_data_path)

In [42]:
# bcg immunisation coverage for Indonesia
countries = ['Indonesia']
bcg_data = bcg_data.loc[bcg_data['Location'].isin(countries)]

In [43]:
# select needed columns
bcg_data = bcg_data[['Period', 'Value']]

# rename the columns for consistency
bcg_data = bcg_data.rename(columns={'Period': 'year', 'Location': 'country', 'Value': 'bcg_coverage'})

# Convert NaNs to 0
bcg_data= bcg_data.fillna(0)

# set date column to be datetime and set date column to index
bcg_data['year'] = pd.to_datetime(bcg_data['year'].astype(str), format='%Y')
bcg_data['year'] = bcg_data['year'].dt.year # show the year only
bcg_data = bcg_data.set_index('year')

# sort by date
bcg_data = bcg_data.sort_values(by='year')

In [44]:
bcg_data

      bcg_coverage
year
2000            81
2001            80
2002            82
2003            83
2004            85
2005            86
2006            88
2007            83
2008            80
2009            78
2010            88
2011            98
2012            88
2013            90
2014            90
2015            90
2016            90
2017            93
2018            92
2019            90
2020            87
2021            81
2022            93
2023            88

In [45]:
save_path = pathlib.Path(data_folder/'bcg_coverage_ID.csv')

# save dataframe to csv
bcg_data.to_csv(save_path, index = True)

# Population data

### Statistics Indonesia (BPS) Local Data

In [48]:
# data from Statistics Indonesia (BPS) 2010 - 2022
bps_pop_data = pd.read_csv(data_folder/'local_data/population_total_id.csv')

In [49]:
# set date column to datetime
bps_pop_data['year'] = pd.to_datetime(bps_pop_data['year'].astype(str), format='%Y')
bps_pop_data['year'] = bps_pop_data['year'].dt.year

# set date column to index
bps_pop_data = bps_pop_data.set_index('year')

# sort by date
bps_pop_data = bps_pop_data.sort_values(by='year')

In [50]:
bps_pop_data

             male       female        total
year
2010  119630913.0  118010413.0  237641326.0
2020  136661899.0  133542018.0  270203917.0
2022  139388929.0  136384845.0  275773774.0

In [51]:
# save dataframe to csv
bps_pop_data.to_csv(data_folder/'local_data/population_total_id.csv', index = True)

In [53]:
# data from Statistics Indonesia (BPS) 2010 - 2022, by 5-year age groups
bps_pop_age = pd.read_csv(data_folder/'local_data/population_age_group_id.csv')

In [54]:
# set date column to datetime
bps_pop_age['year'] = pd.to_datetime(bps_pop_age['year'].astype(str), format='%Y')
bps_pop_age['year'] = bps_pop_age['year'].dt.year

# set date column to index
bps_pop_age = bps_pop_age.set_index('year')

# sort the date
bps_pop_age = bps_pop_age.sort_values(by='year')

In [ ]:
# save dataframe to csv
bps_pop_age.to_csv(data_folder/'local_data/population_age_group_id.csv', index = True)

### UN Data

In [ ]:
# data from UN World Population Prospects 2024
# see https://population.un.org/wpp/Download/Files/1_Indicator%20(Standard)/EXCEL_FILES/2_Population/WPP2024_POP_F02_1_POPULATION_5-YEAR_AGE_GROUPS_BOTH_SEXES.xlsx
# for raw data

un_pop_data = pd.read_csv(data_folder/'un_population_est_age_group_50-22.csv')

In [ ]:
un_pop_data

In [ ]:
# Melt the UN data
un_pop_data_melt = pd.melt(un_pop_data, id_vars=['year'])
un_pop_data_melt

In [ ]:
# rename the columns for consistency
un_pop_data_melt = un_pop_data_melt.rename(columns={'variable': 'age_group', 'value': 'total'})

# set date column to datetime
un_pop_data_melt['year'] = pd.to_datetime(un_pop_data_melt['year'].astype(str) + '-01-01', format='%Y-%m-%d')
un_pop_data_melt['year'] = un_pop_data_melt['year'].dt.year

# set date column to index
un_pop_data_melt = un_pop_data_melt.set_index('year')

In [ ]:
un_pop_data_melt

In [ ]:
# save dataframe to csv
un_pop_data_melt.to_csv(data_folder/'un_population_est_age_group_50-22.csv', index = True)

#### Recent years data (2021 - 2023)

In [ ]:
# most recent years (2021 - 2023)
un_pop_data_melt_3 = un_pop_data_melt.loc[[2021,2022,2023]]

In [ ]:
# save dataframe to csv
un_pop_data_melt_3.to_csv(data_folder/'un_population_est_age_group_21-22.csv', index = True)